@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Roboto+Slab:wght@100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --color1: #f1f1f1;
    --color2: #1a42c9;
    --color3: #494d5c;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
}





.logo-container {
    width: 15%; 
}

.logo {
    max-width: 100%;
    height: auto;
    display: block;
}





nav a {
    background-color: transparent;
    color: var(--color2);
    padding: 10px 20px;
    margin: 0 10px;
    border: 2px solid #bdbbbb;
    border-radius: 30px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    font-weight: 600;
}

nav a:hover,
nav a:focus {
    background-color: #bdbbbb;
    color: #000;
}








.parallax-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.parallax {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.parallax img {
    width: 100%;
    height: auto;
    transform-origin: center center;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.parallax img.active {
    opacity: 1;
}




.novidades {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.novidades h2 {
    margin: 30px 0 50px;
}
.novidades-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: center;    
}
.novidades-item  {
    width: 28%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    padding: 20px;
    box-shadow: 1px 1px 30px #ccc;
    transition: scale .7s;
    border-radius: 7px;
}

.novidades-item:hover {
    scale: 1.1;
}

.novidades-item img {
    width: 30%;    
}